<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
            <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
            <div class="grid grid-2col">
              <div class="resource">
                <label class="resource-label">Cost</label>
                  <input type="text" name="data.cost" value="{{data.cost}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Wound TH</label>
                  <input type="text" name="data.wound_threshold" value="{{data.wound_threshold}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Death Rating</label>
                  <input type="text" name="data.death_rating" value="{{data.death_rating}}" data-dtype="Number"/>
              </div>
              <div class="resource">
                <label class="resource-label">Durability</label>
                  <input type="text" name="data.durability" value="{{data.durability}}" data-dtype="Number"/>
              </div>
            </div>
        </div>
    </header>

    <div class="abilities grid grid-4col">
      {{#each data.pools}}
      <div class="ability flexrow flex-group-center">
      <label class="resource-label">{{@key}}</label>
      <input type="text" name="data.pools.{{@key}}" value="{{this}}" data-dtype="Number"/>
      </div>
      {{/each}}
    </div>

    <div class="abilities grid grid-3col">
      {{#each data.movement_rate}}
      <div class="ability flexrow flex-group-center">
        <label class="resource-label">{{@key}}</label>
        <input type="text" name="data.movement_rate.{{@key}}.base" value="{{this.base}}" data-dtype="Number"/>/
        <input type="text" name="data.movement_rate.{{@key}}.full" value="{{this.full}}" data-dtype="Number"/>
      </div>
    {{/each}}
    </div>
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="attributes">Art</a>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

        {{!-- Description Tab --}}
        <div class="tab" data-group="primary" data-tab="description">
            {{editor content=data.description target="data.description" button=true owner=owner editable=editable}}
        </div>

        {{!-- Attributes Tab --}}
        <div class="tab attributes" data-group="primary" data-tab="attributes">
            {{!-- As you add new fields, add them in here! --}}
        	<img src="{{item.img}}" title="{{item.name}}"/>
        </div>
    </section>
</form>
